# Executables
lexer

# Visual Studio Code
.vscode

# Rust
target/
Cargo.lock

build-cpp-Desktop_NoQt_Clang-Debug/

cpp/CMakeLists\.txt\.user

cpp/CMakeLists\.txt\.user\.a841497

build-cpp-Default-Debug/
